---
layout: default
title: Home
---

<!-- Product Hero Image Section -->
<div id="shop-head">
  <div class="container-fluid">
    <div id="shop-carousel" >
		<div class="no-padding col-md-12" >

<section class="regular slider single-item"> 
    <div>
      <a href="#" target="_blank">
        <img src="./img/myselectsmart_home_header-2.jpg" class="img-responsive visible-lg visible-xl">
      </a>
      </div>
        <div>
        <a href="#" target="_blank">
            <img src="./img/myselectsmart_home_header-3.jpg" class="img-responsive visible-lg visible-xl">
        </a>
        </div>
    <div>
          <div class="intro-body">
          <a href="#" target="_blank">
              <img src="./img/myselectsmart_home_header.jpg" class="img-responsive visible-lg visible-xl">
          </a>
        </div>
    </div>    
  </section>

    

    </div>   
    </div> 
</div>
</div>

{% include home-products.html %}

{% include home-features.html %}