 <!-- Footer Section -->
 <div id="footer" class="footer">
        <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
          <h1><a href="https://byjasco.com" target="_blank"><img src="./img/byjasco-logo.png" width="150" ></a></h1>
          <hr class="foot-hr">
          </div>
        </div>
        <div class="row foot-content">
       <div id="foot-p" class="col-md-4"><h3>Who is JASCO?</h3>
       <p>As the parent brand of EcoSurvivor, Jasco believes in the power of developing products and building partnerships that are making a difference. Every EcoSurvivor purchase helps fuel clean water initiatives that are changing lives and saving lives around the world.</p>
       </div>
       <div class="col-md-4"><h3>Need Help?</h3>
        <a href="https://byjasco.com/support?__hstc=9449450.16c4dd6c7a540924c2eca2a8c50d5bf4.1493745355533.1499806897776.1499974563493.28&__hssc=9449450.1.1499974563493&__hsfp=2096103622" target="_blank" alt="Visit Support">Visit Support</a><br>
        <a href="https://byjasco.com/products?__hstc=9449450.16c4dd6c7a540924c2eca2a8c50d5bf4.1493745355533.1499806897776.1499974563493.28&__hssc=9449450.1.1499974563493&__hsfp=2096103622" target="_blank" alt="Jasco Online Store">Jasco Online Store</a><br>
    
    
    
       </div>
      
       <div class="col-md-4"><h3>Newsletter Signup</h3>
        <div class="social">
    
            <a href="http://bit.ly/2lSMnU4" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="http://bit.ly/2m9jghN" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="http://bit.ly/2tjA0SM" target="_blank"><i class="fa fa-pinterest"></i></a>
              <a href="http://bit.ly/2uKWjVw" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="http://bit.ly/2w3rkTc" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>
       <p>Subscribe to our bi-weekly newsletter with new products and special offers!</p>
    
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({ 
        css: '#email-66221cc5-2fcb-4fda-8682-38cfc6edb890 {background-color: white; margin-bottom:20px; border-radius:10px; padding: 5px;} .hs-button{background:#fff; color:#00aeef; border-radius:10px; padding: 5px 20px;} .hs-field-desc {display:none !important;}', 
        portalId: '454248',
        formId: '66221cc5-2fcb-4fda-8682-38cfc6edb890'
      });
    </script>
       </div>
      </div>
    
    
    
        <hr class="foot-hr">
    
      <div class="row">
        <div class="col-md-12"> 
          <div class="bottom-box">
          <span class="footer-info"><a href="https://byjasco.com/trademark-information" target="_blank">Trademark Information</a> &nbsp;|&nbsp;<a href="https://byjasco.com/terms-and-conditions" target="_blank">Terms and Conditions</a> &nbsp;|&nbsp;<a href="https://byjasco.com/privacy-policy" target="_blank">Privacy Policy</a> </span><br>
          <span class="footer-info"> &copy; 2017 Jasco Products Company.</span>
          </div>
        </div>
      </div>
    
      </div>
    </div>
    
      <!--<div>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-96178155-1', 'auto');
      ga('send', 'pageview');
    
    </script>
    </div>-->
    
    
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script type="text/javascript" src="js/SmoothScroll.js"></script> 
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
    <script type="text/javascript" src="js/jquery.isotope.js"></script> 
    <script type="text/javascript" src="js/jquery.parallax.js"></script> 
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
    
    <!-- Javascripts
        ================================================== --> 
    <script type="text/javascript" src="js/main.js?ver=1.1"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b5df640ddc063e"></script>
    
    <!-- Hubspot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/454248.js"></script>
    <!-- End of HubSpot Embed Code -->
    
    
    
    
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
    $('.responsive').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 4, 
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
    
      ]
    });
    
    $('.slider').slick({
          fade:true,
          dots: true,
          autoplay: true,
          autoplaySpeed: 4000, 
          mobileFirst: true,
        });
        
    $('.single-item').slick({});   
    
    $('.carousel-selector').slick({
    arrows: false
    });
    
    
    </script>
    <script type="text/javascript">
    /*<![CDATA[*/
    (function() {
    var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
    sz.src = '//siteimproveanalytics.com/js/siteanalyze_6013300.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
    })();
    /*]]>*/
    </script>
    <script>
            function addCart(str, button) {
            button.classList.add('cart-progress');
        document.getElementById('result').src=str
        document.getElementById('result').onload = function() {
            return function() { 
            updateBtn(); 
            }
        }
        ();
          }
          function updateBtn() {
            // Update button.
            var button = document.getElementsByClassName('cart-progress')[0];
            button.disabled = true;
          }
    </script>
