<div id="home-features">
        <div class="container">
          <div class="row">
      
            <div class="col-md-6">
              <img src="./img/home-features-1.jpg" class="img-responsive">
              <h1>Expand — pair with other mySelectSmart™ lighting controls</h1>
              <p>MySelectSmart controls are expandable and give you the option to control multiple lights from a single switch or sensor.</p>
            </div>
      
            <div class="col-md-6">
                <img src="./img/home-features-2.jpg" class="img-responsive">
                <h1>Signal range up to 150 feet away</h1>
                <p>MySelectSmart lighting controls have you covered with a 150ft. range for complete wireless operation of the lights in your home.</p>
              </div>
      
          </div>
      
          <div class="row">
              
                    <div class="col-md-6">
                        <img src="./img/home-features-3.jpg" class="img-responsive">
                        <h1>Compatible with LED, CFL & incandescent bulbs</h1>
                        <p>Take control of your indoor lighting with mySelectSmart Wireless Lighting Controls.</p>
                    </div>
              
                    <div class="col-md-6">
                        <img src="./img/home-features-4.jpg" class="img-responsive">
                        <h1>Mount remote alone or add multi-gang plate to existing switch</h1>
                        <p>Use the portable remote to conveniently control your lights from anywhere inside your home – or simply mount the remote to a nearby wall. </p>
                      </div>
              
                  </div>
      
        </div>
      </div>